.CategoryCard{

display: flex;
    width: 23%;
  background-color: rgb(223, 221, 221);
  padding: 10px 0px 20px 20px;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.CategoryCard:hover{
  background-color: rgb(26, 26, 105);

}

.CategoryCard svg{
height: 30px;
width: 40px;
background-color: #fff;
color: rgb(82, 185, 185);
padding: 0 2px;
border-radius: 8px;

}

.CategoryCard .catDesc{
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
 }
.CategoryCard .catDesc .title{
font-size: 16px;
font-weight: 500;
color: black;
margin-bottom: 0;
 }
 .CategoryCard:hover .catDesc .title{
    color: #fff !important;
  
  }

 .CategoryCard .catDesc .catnum{
  display: flex;
  color: rgb(128, 125, 125);
  font-size: 10px;
  margin-bottom: 0;
     }


@media Screen  and (max-width:800px){
    .CategoryCard {
        display: flex;
        width: 48%;
        gap: 0;
       
        }
        
}
@media Screen  and (max-width:450px){
    .CategoryCard {
        display: flex;
        width: 100%;
        gap: 0;
       
        }
        
}