.PricingCard{
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(223, 221, 221);
    background-color: #fff;

}



.PricingCard .title{
    margin-bottom: 10px;
}


.PricingCard .price span{
    font-size: 24px;
    font-weight: 700;
    color: rgb(30, 173, 245);

}