.category{
    padding: 60px 10%;
    overflow: hidden;
}
.categorys-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.category .viewMC{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;

}
.category .viewMC .link{
    cursor: pointer;

}
.instructor{
    padding: 60px 10%;
    background-color: rgb(223, 221, 221);
    display: flex;
    overflow: hidden;
    
  
}
.instructor .sectionIMG{
    width: 50%;
    height: 450px;
    position: relative;

  
}
.instructor .sectionIMG::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: -5%;
    left: 7%;
    z-index: -1;

  
}
.instructor .sectionIMG img{
    width: 100%;
    height: 100%;
   
    
}
.instructor .buttons button:nth-child(2){
   display: none;
}

.education{
    padding: 60px 10%; 
    overflow-X: hidden;
  
}

.education .educationCard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

.courses{
    padding: 60px 10%;
   background-color:rgb(223, 221, 221)  ; 
   overflow-X: hidden;
  
}
.courses .CourseCard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}
.courses .viewMC{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}
.aboutus{
    padding: 60px 10%;
    height: max-content;
    display: flex;
    overflow-X: hidden;
  
}

.content{
    padding-right: 10%;
    width: 60%;
    overflow-X: hidden;
  
}

.aboutus .sectionIMG{
    width: 50%;
    height: 250px;
    position: relative;

}
.aboutus .sectionIMG::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(223, 221, 221);
    top: -11%;
    left: 10%;
    z-index: -1;

}
.aboutus .sectionIMG img{
    width: 100%;
    height: 100%;
}
.schoolNews{
    padding: 60px 10%;
    width: 100%;
    background-color: rgb(223, 221, 221);
    overflow-X: hidden;
  

}
.schoolNews .SchoolNewsCard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

.schoolNews .secdesc{
    padding: 0 20%;
}

.pricing{
    padding: 60px 10%;
    width: 100%;
    overflow-X: hidden;
}
.pricing .pricingCard-container{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonials{
 
   background:  rgb(223, 221, 221);
   padding: 60px 10%; 

  
}
.ChooseUs{
    padding: 60px 10%;    
    overflow: hidden;
}

@media screen and (max-width:1275px) {
    .education .educationCard-container{
 
        gap: 20px;
  
    }
}
@media screen and (max-width:800px) {
    .category{
        padding: 30px 5%;
    }
    .categorys-container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    .category .viewMC{
        font-size: 12px;
    }
    
    .instructor{
        padding: 30px 5%;
        gap: 20px ;
        flex-direction:  column-reverse;
        

    }

    .instructor .sectionIMG{
        width: 100%;
      
    }
    .instructor .sectionIMG img{
     transform: translateY(0px);
     width: 100%;
     height: 100%;
    }
    .education{
        padding: 30px 5%; 
    }
    .courses{
        padding: 30px 5%; 
    }
    .courses .CourseCard-container{
        
        justify-content: center;

    }
    
    .aboutus{
        padding: 30px 5%;
        gap: 20px ;
        flex-direction:  column-reverse;
        

    }
    
    .content{
        padding-right: 0;
        width: 100%;
    }
    
    
    .aboutus .sectionIMG{
        width: 100%;
      
    }
    .aboutus .sectionIMG::before{
     
        display: none;
    }
    .pricing{
        padding: 30px 5%; 
    
    }
    .pricing .pricingCard-container{
        justify-content: center;
    }
    

    .testimonials{
 
        background:  rgb(223, 221, 221);
        padding: 30px 5%; 
     }

}